<!DOCTYPE html>
<html>

<head>
    <title>Fitness Assistant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fitness Assistant to Track Your Personal Progress">
    <meta name="keywords" content="HTML, CSS, JavaScript, EJS, WebDev Fitness App">
    <meta name="author" content="PJS Development">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>