/* General Containers */

html, body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

body{
    background: url("/img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

.generalcontainer {
    max-width: 1200px;
    margin: 0 auto;
}

/* Footer */

#footer{
    padding: 5px;
    text-align: center;
    color: #fff;
    font-size: 10px;

}

#footer a{
    color: #fff;
    text-decoration: none; 
}