/* General Containers */

html, body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: #fff
}

.generalcontainer {
    max-width: 1200px;
    margin: 0 auto;
}

/* Footer */

#footer{
    padding: 5px;
    background-color:#fff;
    text-align: center;
    color: #07c;
}

#footer a{
    color: #07c;
    text-decoration: none; 
    font-size: 14px;
}