/* Calculator Backgrounds and Containers */

#title{
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: auto;
    padding: 15px;
    font-size: 22px;
}

#caloriecalccontainer{
    background-color: #4db5ff;
}

#liftingcalccontainer{
    background-color:#4db5ff;
    display: none;
}

/* Toggler */

#togglecontainer{
    font-size: 16px;
    text-align: center;
    margin-bottom: -10px;
}

#togglecalorie{
    width: calc(25% + 8px);
    padding: 5px;
    display: inline-block;
    color: rgba(40, 44, 52);
    background-color: #FFF;
    transition: all .6s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
}

#togglelift{
    width: calc(25% + 8px);
    padding: 5px;
    display: inline-block;
    color: rgba(40, 44, 52);
    background-color: #ccc8c8;
    transition: all .6s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
}

#togglecalorie:hover{
   background-color: #FFF !important;;
}

#togglelift:hover{
    background-color: #FFF !important;;
}

/* Calculator Input Design */

#caloriecalc{
    margin-top: 10px;
    display: flex;
}
  
form {
    width: auto;
    margin: auto;
    color: rgba(40, 44, 52);
    border: 1px solid rgba(40, 44, 52, .1);
    background-color: #FFF;
    border-top: 0;
}

#caloriecalcform{
    width: 50%;
    font-size: 16px;
    padding: 20px;
}

#caloriecalcformbutton{
    display: block;
}

#liftingform{
    padding: 20px;
}

input {
    font-size: 12px;
    padding: 10px;
    background-color:inherit;
    border: none;
    border-bottom: 1px solid rgba(204, 200, 200, .8);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none; 
    margin: 0; 
}

.calorieinputs[type="number"]{
    color: rgba(40, 44, 52);
    width: 70px;
}

label p{
    margin: 5px;
    font-size: 14px;
}

#genderselection{
    display: flex;
    margin: 5px auto;
}

#gendertitle{
    font-size: 14px;
}

#male, #female{
    margin: 2px 15px;
}
  
#inches{
    margin-left: 15px;
}

select{
    background-color:inherit;
    padding: 12px;
    border: none;
    border-bottom: 1px solid rgba(204, 200, 200, .8);
}
  
button {
    color: #07c;
    border: 0;
    outline: 0;
    padding: 16px;
    border: 1px solid rgba(204, 200, 200 .8);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: #FFF;
}

button:hover {
    background-color: #ccc8c8 !important;
}

button:focus {
    box-shadow: inset 1px 1px 2px #FFF, inset -1px -1px 2px #FFF !important;
}

button.submit {
    width: 350px;
    margin: 15px auto;
    color: #07c;
    border: 1px solid rgba(204, 200, 200,.8);
}

#cm{
    display: none;
}

#kg{
    display: none;
}

option, .measurement, #activity{
    color: rgba(40, 44, 52);
}

#activity{
    display: block;
    width: 300px;
    margin: 5px auto;
}

.measurementtitle{
    margin: 5px auto;
    font-size: 14px;
}

.measurement{
    display: flex;
    margin-bottom: 10px;
}

.imperial, .metric{
    margin: 2px 10px;
}

/* Calorie Calc Results */

#caloriecalcresults{
    display: none;
    text-align: center;
    margin: 32px auto auto auto;
    width: 50%;
    color: rgba(40, 44, 52);
    margin: 0 auto;
    padding: 0 20px;
    background-color:#FFF;
}

#maintainweight{
    width: 50%;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
}

.results{
    display: inline-block;
    margin: 10px;
}

.resultstitle{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid rgba(204, 200, 200, .8);
}

.resultsnumber{
    font-size: 16px;
    padding: 10px;
}

.resultslabel{
    display: block;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}

#weightlossresults{ 
    width: 40%;
    margin: auto 10px 10px auto;
}

#weightlossresults::after{
    content: '';
    position: absolute;
    bottom: 20%;
    left: calc(50% - 5px);
    height: calc(40% - 20px);
    border: 1px solid rgba(204, 200, 200, .3);
}

#weightgainresults{
    width: 40%;
    margin: auto 10px 10px auto;
}

#caloriecalcresults button{
    margin: 15px auto;
}

/* Lifting Program Specific */

#liftingcalc{
    margin-top: 10px;
    font-size: 16px;
    display: flex;
}

#programcontainer{
    display: block;
    text-align: center;
}

#program{
    border-radius: 0;
    color: rgba(40, 44, 52);
}

.lifts{
    margin: auto;
    padding: 5px;
}

.lifts p{
    margin-top: 5px;
    font-size: 16px;
}

.lifts label{
    margin: 5px;
}

#liftingform label{
    display: inline;
    justify-content: center;
}

#liftingcalc button{
    margin: 15px auto;
}

#liftingcalcresults{
    display: none;
    text-align: center;
    padding: 25px;
    width: auto;
    color: rgba(40, 44, 52);
    margin: 0 auto;
}

#instruction{
    margin-top: 10px;
    display: none;
    text-align: center;
    font-size: 16px;
}

#squats{
    margin-top: 5px;
    display: none;
}

#bench{
    display: none;
}

#deadlift{
    display: none;
}

#bbellrow{
    display: none;
}

#incbench{
    display: none;
}

#powerclean{
    display: none;
}

#ohp{
    display: none;
}

#liftprogramsubmit{
    background-color: #FFF;
    border: 1px solid rgba(204, 200, 200,.8);
    display: none;
}

.weightinput, .repinput{
    width: 70px;
}

/* Lifting Results */

.maxresults{
    padding: 10px;
    text-align: center;
    background-color:#FFF;
    margin: 0 -5px;
    border-bottom: 1px solid rgba(204, 200, 200, .8);
}

.weekcontainer{
    width: -webkit-fill-available;
    padding: 10px;
    margin-top: 5px;
    display: inline-flex;
    border-bottom: 1px solid rgba(204, 200, 200, .8);
}

.weekcontainer:last-of-type{
    border-bottom: none;
}

#daylabelcontainer{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 1px solid rgba(204, 200, 200, .8);
}

#day2head{
    margin: 0 30px;
}

.day1{
    display: block;
    width: 25%;
    margin-left: 20px;
    padding: 5px;
    font-size: 14px;
    border-right: 1px solid rgba(204, 200, 200, .8);
}

.day2{
    display: block;
    width: 25%;
    padding: 5px;
    font-size: 14px;
    border-right: 1px solid rgba(204, 200, 200, .8);
}

.day3{
    display: block;
    width: 25%;
    padding: 5px;
    font-size: 14px;
}

.assistance{
    padding: 10px;
    border-bottom: 1px solid rgba(204, 200, 200, .8);
    text-align: left;
    font-size: 14px;
}

.assistance:last-of-type{
    border-bottom: none;
}

.assistance p{
    font-size: 16px;
    text-align: center;
}

.liftmax{
    border-bottom: 1px solid rgba(235,222,194, .1);
}

#liftreset{
    display: block;
}

#liftprogramlayout{
    display: none;
    text-align: center;
    padding: 25px;
    width: auto;
    color: rgba(40, 44, 52);
    margin: 0 auto;
}